/* === Press Start 2P Font Import === */
@import "../base/fonts-pressstart2p.css";

/* === Global Reset & Base === */
*,
:after,
:before,
::backdrop {
  box-sizing: border-box;
  border: 0 solid;
  margin: 0;
  padding: 0;
}

:root {
  --border-width: 3px;
}

/* === Global Styles === */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
} 

body {
  font-family: 'Press Start 2P', cursive;
  line-height: 2;
  background: black;
  color: #fafafa;
  overflow-x: hidden;
  background-image: repeating-linear-gradient(22.5deg, transparent, transparent 2px, rgb(75 85 99 / 6%) 2px, rgb(75 85 99 / 6%) 3px, transparent 3px, transparent 8px),
    repeating-linear-gradient(67.5deg, transparent, transparent 2px, rgb(107 114 128 / 5%) 2px, rgb(107 114 128 / 5%) 3px, transparent 3px, transparent 8px),
    repeating-linear-gradient(112.5deg, transparent, transparent 2px, rgb(55 65 81 / 4%) 2px, rgb(55 65 81 / 4%) 3px, transparent 3px, transparent 8px),
    repeating-linear-gradient(157.5deg, transparent, transparent 2px, rgb(31 41 55 / 3%) 2px, rgb(31 41 55 / 3%) 3px, transparent 3px, transparent 8px);
}

.section:not(:first-of-type) {
  margin-block: 5rem;
}

.section,
.site-footer {
  padding: 1.5rem;
  margin-inline: auto;
}

h1,
h2,
h3,
a,
main,
section {
  scroll-margin-block-start: 140px;
}

a:not(.skip-link, .btn) {
  color: #fafafa;
  text-decoration: none;
  padding-block-end: .5rem;
  border-bottom: var(--border-width) dashed #fff;
}

::-webkit-inner-spin-button {
  height: auto;
}

::-webkit-outer-spin-button {
  height: auto;
}

/* === Buttons === */
button, .btn {
  appearance: none;
  font-family: 'Press Start 2P', cursive;
  font-size: .9rem;
  display: inline-block;
  padding: 0.5em 1.5em;
  transition: all 0.35s ease;
  cursor: pointer;
  border-radius: 3px;
  margin: 2rem 5px;
  border: var(--border-width) dashed #0fc;
  background-color: transparent;
  color: #0fc;
  text-decoration: none;
}

button:hover,
.btn:hover {
  text-shadow: 0 0 10px #0fc, 0 0 20px #0fc;
}

a:hover {
  color: #0fc;
  border-color: #0fc;
  text-shadow: 0 0 10px #0fc, 0 0 20px #0fc;
}

.disabled {
  opacity: .5;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  padding: 8px;
  font-size: .8rem;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

.triangle {
  margin-inline: 2px;
  font-size: .7rem;
  display: inline-block;
  vertical-align: middle;
}

.reverse {
  transform: rotate(180deg);
}

.triangle.reverse {
  vertical-align: super;
  margin-inline: 3px;
}

/* === Hero Section === */
.site-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100vh;
}

.site-header a {
  text-decoration:none;
  font-size:0.8rem;
}

h1 {
  font-size: clamp(2rem, 4vw, 2rem);
  line-height: 1.6;
  color: #0fc;
  text-align: center;
  text-wrap: pretty; /* Fallback for older browsers */
  text-wrap: balance;
  padding-inline: 1.5rem;
  text-shadow: 0 0 10px #0fc, 0 0 20px #0fc;
  animation: flicker 2s infinite;
}

h2 {
  font-size: clamp(1.25rem, 2vw, 1.5rem);
  text-shadow: 0 0 10px #0fc, 0 0 20px #0fc;
  animation: flicker 2s infinite;
  line-height: 1.6;
  color: #0fc;
  margin-block-end: 1.5rem;
}

h3 {
  font-size: clamp(1.1rem, 1.5vw, 1.25rem);
  line-height: 1.6;
  color: #fafafa;
}

p, li {
  font-size: clamp(0.95rem, 1.1vw, 1.05rem);
}

p {
  margin-top: 20px;
}

img {
  display: block;
  max-width: 100%;
}

/* === Sections === */
.section-item {
  border-radius: 3px;
  border: var(--border-width) solid #0fc;
  box-shadow: 0 0 10px #0fc5;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.section-item:hover {
  box-shadow: 0 0 20px #0fc;
}

.service-box {
  padding: 1.5rem;
  min-height: 100%;
}

.service-box,
.testimonials-item {
  padding: 1rem;
  border-block-start: var(--border-width) dashed #fff;
}

.services,
.testimonials,
.portfolio {
  display: grid;
  gap: 20px;
}

.metrics-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 40px 0;
}

.metrics-item {
  text-align: center;
}

.metrics-item:hover {
  transform: translateY(-15px);
}

.portfolio {
  display: grid;
  gap: 20px;
  margin: 0 auto;
}

.portfolio-item {
  padding: 0;
}

.portfolio-item img {
  max-height: 250px;
}

.portfolio-item:hover .portfolio-caption {
  color: #0fc;
  text-shadow: 0 0 10px #0fc, 0 0 20px #0fc;
}

.portfolio-caption {
  text-align: center;
  padding: 5px 15px;
}

/* === Footer === */
.site-footer {
  margin: 0 auto;
}

.copyright {
  display: inline-block;
}

@media (width >= 1024px) {
  .section,
  .site-footer {
    max-width: 1200px;
  }

  .section:not(:first-of-type) {
    margin-block: 15rem;
  }

  .title-box {
    margin-block: 0;
    text-align: center;
    transform: translateY(calc(50% - clamp(1.5rem, 2vw, 2.2rem)));
  }

  .portfolio,
  .services,
  .testimonials {
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  }

  .service-box {
    border: var(--border-width) dashed #fff;
    transform: skewX(-5deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }

    @keyframes flicker {
      0%, 18%, 22%, 25%, 53%, 57%, 100% { opacity: 1; }
      20%, 24%, 55% { opacity: 0.3; }
    }
}
